
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myOeuvreLabel" data-translate="bibalApp.oeuvre.home.createOrEditLabel">Create or edit a Oeuvre</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.oeuvre.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.oeuvre.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bibalApp.oeuvre.titre" for="field_titre">Titre</label>
            <input type="text" class="form-control" name="titre" id="field_titre"
                    ng-model="vm.oeuvre.titre"
                    required />
            <div ng-show="editForm.titre.$invalid">
                <p class="help-block"
                    ng-show="editForm.titre.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bibalApp.oeuvre.editeur" for="field_editeur">Editeur</label>
            <input type="text" class="form-control" name="editeur" id="field_editeur"
                    ng-model="vm.oeuvre.editeur"
                    required />
            <div ng-show="editForm.editeur.$invalid">
                <p class="help-block"
                    ng-show="editForm.editeur.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bibalApp.oeuvre.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.oeuvre.description"
                    required />
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" data-translate="bibalApp.oeuvre.dataPublication" for="field_dataPublication">Data Publication</label>
                <div class="input-group">
                    <input required id="field_dataPublication" type="text" class="form-control" name="dataPublication" uib-datepicker-popup="{{dateformat}}" ng-model="vm.oeuvre.dataPublication" is-open="vm.datePickerOpenStatus.dataPublication"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dataPublication')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="bibalApp.oeuvre.estLivre" for="field_estLivre">L'oeuvre est un livre</label>
            <input type="checkbox" class="form-control" name="estLivre" id="field_estLivre"
                   ng-model="vm.oeuvre.estLivre"
            />
            <div ng-show="editForm.estLivre.$invalid">
                <p class="help-block"
                   ng-show="editForm.estLivre.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group" data-ng-show="vm.oeuvre.estLivre">
            <label class="control-label" data-translate="bibalApp.oeuvre.dateEdition" for="field_dateEdition">Date Edition</label>
                <div class="input-group">
                    <input id="field_dateEdition" type="text" class="form-control" name="dateEdition" uib-datepicker-popup="{{dateformat}}" ng-model="vm.oeuvre.dateEdition" is-open="vm.datePickerOpenStatus.dateEdition"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('dateEdition')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group" data-ng-hide="vm.oeuvre.estLivre">
            <label class="control-label" data-translate="bibalApp.oeuvre.numero" for="field_numero">Numero</label>
            <input type="number" class="form-control" name="numero" id="field_numero"
                    ng-model="vm.oeuvre.numero"
                     />
        </div>
        <div class="form-group" data-ng-hide="vm.oeuvre.estLivre">
            <label class="control-label" data-translate="bibalApp.oeuvre.parution" for="field_parution">Parution</label>
                <div class="input-group">
                    <input id="field_parution" type="text" class="form-control" name="parution" uib-datepicker-popup="{{dateformat}}" ng-model="vm.oeuvre.parution" is-open="vm.datePickerOpenStatus.parution"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('parution')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group" data-ng-hide="vm.oeuvre.estLivre">
            <label class="control-label" data-translate="bibalApp.oeuvre.periodicite" for="field_periodicite">Periodicite</label>
            <input type="number" class="form-control" name="periodicite" id="field_periodicite"
                    ng-model="vm.oeuvre.periodicite"
                     />
        </div>
        <div class="form-group">
            <label data-translate="bibalApp.oeuvre.auteur" for="field_auteur">Auteur</label>
            <select class="form-control" id="field_auteur"  name="auteur" ng-model="vm.oeuvre.auteur" ng-options="auteur.id + ' : ' +  auteur.nom + ' ' + auteur.prenom for auteur in vm.auteurs track by auteur.id" required>
            </select>
        </div>
        <div ng-show="editForm.auteur.$invalid">
            <p class="help-block"
                ng-show="editForm.auteur.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
